<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:fragment="new">
    <br>
    <h4 style="margin-left: 20px;">Add new user</h4>
    <div class="table-container" style="border: 1px solid #ccc;  background-color: #fff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form role="form" class="form-horizontal" th:method="POST" th:action="@{/admin}"
                          th:object="${user}">

                        <div class="form-group text-center">
                            <label for="username" class="control-label font-weight-bold">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" aria-label="username"
                                   th:field="*{username}" id="username">
                            <small class="text-danger" th:if="${#fields.hasErrors('username')}"
                                   th:errors="*{username}"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="lastname" class="control-label font-weight-bold">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" aria-label="lastname"
                                   th:field="*{lastname}" id="lastname">
                            <small class="text-danger" th:if="${#fields.hasErrors('lastname')}"
                                   th:errors="*{lastname}"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="age" class="control-label font-weight-bold">Age</label>
                            <input type="number" class="form-control" placeholder="Age" aria-label="Age"
                                   th:field="*{age}"
                                   id="age">
                            <small class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="email" class="control-label font-weight-bold">Email</label>
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                                   th:field="*{email}" id="email">
                            <small class="text-danger" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="password" class="control-label font-weight-bold">Password</label>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                                   th:field="*{password}" id="password">
                            <small class="text-danger" th:if="${#fields.hasErrors('password')}"
                                   th:errors="*{password}"></small>
                        </div>

                        <div th:if="${user == null}">
                            <p style="color: red;">User object is null!</p>
                        </div>

                        <div th:if="${allRoles == null or allRoles.empty}">
                            <p style="color: red;">Roles list is null or empty!</p>
                        </div>

                        <div class="form-group text-center">
                            <label for="roles" class="control-label font-weight-bold">Role</label>
                            <select class="form-control form-control-static" multiple="multiple"
                                    size="2" th:field="*{roles}" id="roles">
                                <option th:each="role : ${allRoles}" th:value="${role.id}"
                                        th:text="${role.name.substring(5)}"></option>
                            </select>
                            <small class="text-danger" th:if="${#fields.hasErrors('roles')}"
                                   th:errors="*{roles}"></small>
                        </div>


                        <div>
                            <button type="submit" class="btn btn-success btn-lg d-block mx-auto"
                                    style="margin-bottom: 40px;">
                                Add new user
                            </button>
                            <div th:if="${param.error}" style="color: red">
                                ERROR
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>