<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <br>
    <h4 style="margin-left: 20px;">Add new user</h4>
    <div class="table-container" style="border: 1px solid #ccc;  background-color: #fff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <form id="add-user-form" role="form" class="form-horizontal">

                        <div class="form-group text-center">
                            <label for="username" class="control-label font-weight-bold">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name" aria-label="username"
                                   id="username" required>
                            <small id="username-error" class="text-danger"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="lastname" class="control-label font-weight-bold">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name" aria-label="lastname"
                                   id="lastname" required>
                            <small id="lastname-error" class="text-danger"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="age" class="control-label font-weight-bold">Age</label>
                            <input type="number" class="form-control" placeholder="Age" aria-label="Age"
                                   id="age" required>
                            <small id="age-error" class="text-danger"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="email" class="control-label font-weight-bold">Email</label>
                            <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                                   id="email" required>
                            <small id="email-error" class="text-danger"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="password" class="control-label font-weight-bold">Password</label>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                                   id="password" required>
                            <small id="password-error" class="text-danger"></small>
                        </div>

                        <div class="form-group text-center">
                            <label for="roles" class="control-label font-weight-bold">Role</label>
                            <select class="form-control form-control-static" multiple="multiple"
                                    size="2" id="roles" required>
                            </select>
                            <small id="roles-error" class="text-danger"></small>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-success btn-lg d-block mx-auto"
                                    style="margin-bottom: 40px;">
                                Add new user
                            </button>
                            <div id="form-error" style="color: red"></div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/new.js"></script>

</body>
</html>
-->